<!DOCTYPE html>
<html>
  <head>
    <title>Rails60SampleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'rails6_0_sample_app', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'rails6_0_sample_app', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/navbar' %>
    <div class="container-fluid p-60">
      <%= yield %>
    </div>
  </body>
</html>
